*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: white;
  height: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.orenge {
  color: orangered;
  font-weight: bold;
  font-size: larger;
}
.half-width p {
  text-align: justify;
}
h1 {
  color: rgb(102, 87, 68);
}
p {
  color: rgb(34, 30, 30);
}
a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 22px;
  color: #fff;
  background-image: linear-gradient(orange, tomato);
  display: inline-block;
}
.frist-section {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding: 50px 0;
  justify-content: space-between;
}
.half-width {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}
.half-width a {
  margin-top: 10px;
  display: inline-block;
}
.img-1 {
  margin-top: 11px;
 
}

.secend-section {
  background-image: url(images/shapes/7.png);
  display: flex;
  padding: 30px 0;
  margin: 0 auto;
  width: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.img-2 img {
  width: 300px;
  height: auto;
  margin-left: 42px;
}
.half-widtht {
  width: 40%;
  margin-left: 77px;
  padding: 77px;
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.half-widtht p {
  margin-top: 33px;
}
.third-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.third-section h1 {
  text-align: center;
  /* margin-bottom: 15px; */
}
.third-section h4 {
  text-align: center;
  width: 100;
}
.medil {
  margin-bottom: 50px;
}
.main-section img {
  width: 333px;
  height: auto;
}
.main-section {
  display: flex;
  
}
.medil p {
  text-align: center;
}
.box {
  background-color: aliceblue;
  border-radius: 10px;
  width: 30%;
  font-style: italic;
  margin: 1%;
  padding: 20px 30px;
  text-align: center;
  box-shadow: 0px 0px 5px 1px #2f5bb745;
}
.box img {
  border-radius: 10px;
  height: 200px;
}
.box:hover {
  background-color: rgb(19, 224, 122);
}
.last {
  box-shadow: 0px 0px 5px 1px #2f5bb745;
  margin: 30px 0;
  border-radius: 5px;
  padding: 20px 0;
}
.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter-item {
  width: 33%;
  text-align: center;
}
.last p {
  text-align: center;
  font-size: larger;
  color: rgb(33, 211, 17);
}

footer h1 {
  text-align: center;
}
footer span {
  color: yellowgreen;
}
footer p {
  text-align: center;
  color: aliceblue;
  margin-top: 33px;
}
footer h1 {
  padding: 32px;
}
footer {
  background-color: black;
  height: 233px;
}
